---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
IndentPPDirectives: BeforeHash
FixNamespaceComments: false
IncludeBlocks: Preserve
